{% extends "base.html" %}
{% load static %}
{% block title %}home{% endblock %}

{% block content %}

<section>
            <div class="HtmlCssJavascript">
                <div class="Htmldiv">
                    <h1 class="htmlPart">
                        <i class="fa-brands fa-html5"></i>
                        <span class="htmlText">
                         HTML
                        </span>
                    </h1>
                    <ul>
                        <li>Structure du continu</li>
                        <li>Titres, paragraphes, listes...</li>
                    </ul>
                    <code id="HtmlCode" class="HtmlCode">

                    </code>
                </div>
                <div class="Htmldiv">
                    <h1 class="htmlPart Cssdiv">
                        <i class="fa-brands fa-css3-alt"></i>
                        CSS
                    </h1>
                    <ul>
                        <li>Style et mise en page</li>
                        <li>Couleurs, marges, polices ...</li>
                    </ul>
                    <code id="HtmlCode" class="HtmlCode CssCode">
                        <span style="color:gold">body <span style="color: aqua;">{</span></span>
                        <span style="color: gold; margin-left: 15px;">color: <span style="color: blue;">#3498db</span>;</span>
                        <span style="color: aqua;">} </span>                   
                    </code>
                </div>
                <div class="Htmldiv">
                    <h1 class="htmlPart JSdiv">
                        <i class="fa-brands fa-js"
                            style="color:rgb(204, 174, 3); text-shadow: 0px 1px rgb(204, 174, 3)"></i>
                        JavaScript
                    </h1>
                    <ul>
                        <li>Interactivité & Dynamisme</li>
                        <li>Evenements, animations...</li>
                    </ul>
                    <code id="HtmlCode" class="HtmlCode">
                        <span style="color: yellow;">console.log</span>( <span style="color: orange;">"Hello"</span> );      
                    </code>
                </div>
            </div>
            <div class="Projet-demonstration">
                <h2>
                    Projet Exemple : Site de Voyage
                </h2>
                <p>
                    Créons une page web de démonstration!
                </p>
            </div>
            <div class="divDestinationvoyage">
                <div class="VoyageAventure">
                    <img src="{% static 'images/plage.webp' %}" alt="Image indisponible" class="imgVoyagesaventures">
                    <h2 class="voyagetext">Voyage Adventures</h2>
                </div>
                <div class="DestinationActivitesContact">
                    <div class="Destionationdiv">
                        <i class="fa-solid fa-tree" style="color: green; font-size: x-large;"></i>
                        <h2
                            style="color: #0237a3; align-self: flex-center; font-weight: bold; padding: 0px 10px 0px 10px; border-bottom: 1px solid rgb(136, 129, 129);">
                            Destinations</h2>
                        <p
                            style="color: #0237a3; font-family:Georgia, 'Times New Roman', Times, serif; font-weight: bold;">
                            Explorer le Monde</p>
                    </div>
                    <div class="Destionationdiv">
                        <i class="fa-solid fa-person-walking" style="color: black; font-size: x-large;"></i>
                        <h2
                            style="color: #0237a3; align-self:center; padding: 0px 20px 0px 20px; font-weight: bold; border-bottom: 1px solid rgb(136, 129, 129);">
                            Activites</h2>
                        <p
                            style="color: #0237a3; font-family:Georgia, 'Times New Roman', Times, serif; font-weight: bold;">
                            Eventures inoubliables</p>
                    </div>
                    <div class="Destionationdiv">
                        <i class="fa-solid fa-envelope" style="color: #0237a3; font-size: x-large;"></i>
                        <h2
                            style="color: #0237a3; align-self:center; padding: 0px 20px 0px 20px; font-weight: bold; border-bottom: 1px solid rgb(136, 129, 129);">
                            Contact</h2>
                        <p
                            style="color: #0237a3; font-family:Georgia, 'Times New Roman', Times, serif; font-weight: bold;">
                            Ecrivez-nous</p>
                    </div>
                </div>
            </div>

        </section>
        <footer>
            <div style="display: flex; align-items: center; padding-top: 20px;">
                <div class="traitg">
                </div>
                <h1 style="margin: 0px 40px 0px 40px;">
                    A vous de Jouer!
                </h1>
                <div class="traitd">
                </div>
            </div>
            <h2 style="text-align:center;">
                Reproduisez ce site avec HTML, CSS & JS
            </h2>
            <button class="Commencez">
                <a href="{% url 'app:login' %}" style="color: white; text-decoration:none;">
                    Commencez Maintenant!
                </a>
            </button>
        </footer>
{% endblock %}