{% extends "base.html" %}
{% load static %}
{% block title %}Connexion{% endblock %}

{% block content %}
    <section class="connexion">
      <div>
        <h3 class="login">
          Connexion
        </h3>
        <div>
          <h5 class="espace">
            Connectez-vous pour accéder à votre espace de travail
          </h5>
          <div class="divinput">
            <input type="text" placeholder="Votre nom" class="input"/>
            <input type="password" placeholder="Votre nom de passe" class="input"/>
          </div>
        </div>
      </div>
    </section>
{% endblock %}